.carousel-item {
  margin-top: 160px;
}
.carousel-item img {
  height: 15rem;
  margin:auto;
  display: flex;
}

.text-lg-center {
  color: white;
  
}
.sr-only {
  color:rgb(0, 0, 0);

}

.align-content-end {
  margin: auto;
}
  
.button {
  color: #000;
}

.navbar-brand {
  width: 66%;
  height: 0%;
  margin: auto;
  display: flex;
 
}
a.navbar-brand {
   margin: auto;
  display: flex;
}

.card {
  position: relative;
 
}

.container-fluid col-11 m-auto {
  margin-block-end: auto ;
  display: flex;
}

body header footer h2.text-center  {
  background-color: white;
  width: 30%;
  margin: auto;
}

body header footer .text-lg-center {
  margin-left: 20%;
  margin-right: 20%;
  font-size: small;
  display: flexbox;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p.text-center {
  font-size: x-small;
  text-align: justify;
}

p.card-text {
  font-size: small;
}

body {
  margin: auto;
}